@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-button {
  background-color: #ff7f50;
}

.primary-color{
  background-color: #18A7B5;
}

.hover-color{
  background-color: #008080;
}